<mat-toolbar color="primary">
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Pariksha</span>
  <span class="example-spacer"></span>
  <a
    *ngIf="!isLoggedIn"
    routerLink="/login"
    mat-icon-button
    class="example-icon mr20"
    aria-label="Example icon-button with heart icon"
  >
    Login
  </a>
  <a
    *ngIf="!isLoggedIn"
    routerLink="/signup"
    mat-icon-button
    class="example-icon mr60 ml20"
    aria-label="Example icon-button with share icon"
  >
    Register
  </a>

  <a
    *ngIf="isLoggedIn && user"
    mat-icon-button
    class="example-icon" style="margin-right: 60px;"
    aria-label="Example icon-button with share icon"
    routerLink="/admin/profile"
  >
    {{user.username}}
  </a>

  <a
    (click)="logout()"
    *ngIf="isLoggedIn"
    mat-icon-button
    class="example-icon mr60 ml60"
    aria-label="Example icon-button with share icon"
  >
    logout
  </a>
</mat-toolbar>
